html{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    height: 100%;
    width: 100%;
}

.contenedor{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
}
.formulario1{
    background-color: blueviolet;
}
form input{
    text-align: center;
}
input:focus{
    background-color: black;
    color: rgb(154, 46, 255);
}
#playimg img {
    object-fit: cover;
    width: 50%;
}